:root {
  --brand-colour: #b2e4d5;
  --primary-colour: #ffaaa5;
  --secondary-colour: #6d757d;
  --accent-colour: #fff6f6;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Capriola", sans-serif;
  --default-font-family: "Inria Sans", sans-serif;
  --black: black;
}
body {
  font-family: var(--default-font-family);
}
.logo {
  font-size: 24px;
}
.logo:hover {
  color: #6d757d;
  text-decoration: none;
  border-bottom: none;
}
nav {
  padding: 20px 0;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  line-height: 30px;
  margin-left: 30px;
  list-style: none;
}
nav a {
  color: var(--secondary-colour);
  font-size: 18px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: black;
  border-bottom: 2px solid var(--brand-colour);
}

h1 {
  font-size: 84px;
  font-family: var(--heading-font-family);
  letter-spacing: 4px;
  padding-top: 10px;
  padding-bottom: 14px;
}
h2 {
  color: var(--primary-colour);
  font-size: 46px;
  font-weight: 700;
  font-family: var(--default-font-family);
}
h3 {
  font-size: 32px;
  font-family: var(--default-font-family);
  text-align: center;
  justify-content: center;
  display: flex;
  opacity: 80%;
}
.typewriter {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 5s steps(80);
}
@keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
p {
  font-size: 18px;
  line-height: 2;
}
strong {
  font-size: 22px;
}
button {
  font-size: 18px;
  background-color: var(--brand-colour);
  border: 1.5px solid black;
  box-shadow: 6px 6px 0 0 black;
  box-sizing: border-box;
  padding: 14px 24px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}
button:hover {
  transform: translateY(10px);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.container {
  max-width: 960px;
}
.content-container {
  padding: 0 80px;
}
.hero {
  color: #ffff;
  text-align: center;
  line-height: 2;
  margin: 0;
  padding: 90px 20px;
  background: linear-gradient(90deg, #b7f8db, #ffaaa5);
  background-size: 400% 400%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.sub-heading {
  font-size: 28px;
  font-family: var(--default-font-family);
}
.btn {
  display: inline-block;
  font-size: 18px;
  color: black;
  background-color: var(--brand-colour);
  border: 1.5px solid black;
  box-sizing: border-box;
  padding: 14px 24px;
  border-radius: 0px;
  cursor: pointer;
  padding: 12px 20px;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
}
.btn:hover {
  color: #ffff;
}
.btn::before {
  content: "";
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}
.btn:hover::before {
  transform: translateX(0);
}
.project-card {
  background-color: transparent;
  padding: 0;
  margin-bottom: 60px;
}
.project-desciption {
  padding: 120px 60px;
}
.project-pic {
  margin-top: 18px;
  border: solid 1.5px black;
  max-width: 100%;
}
.card-body {
  padding: 10px;
}
.profile-pic {
  display: flex;
  max-width: 400px;
  margin-top: 40px;
  border: solid 1.5px black;
  margin-left: 20px;
}
.bio-container {
  padding: 60px 30px;
}
.column-spacing {
  padding-right: 40px;
}
.tag-list-container {
  margin: 0 auto;
}
.tag {
  background-color: var(--brand-colour);
  border: solid 1.5px black;
  font-size: 15px;
  padding: 6px 10px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
}
.tag:hover {
  color: #ffff;
  background-color: black;
}
.form {
  background-color: transparent;
  padding: 40px;
  margin: 60px;
  border-bottom: #6d757d dashed 1px;
}
footer .contact-box {
  background-color: var(--accent-colour);
  padding: 20px 60px;
  margin-top: 30px;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  color: black;
  font-size: 28px;
  font-family: var(--default-font-family);
  text-decoration: underline;
  text-decoration-color: var(--primary-colour);
  transition: all 150ms ease-in-out;
}
footer .email-link:hover {
  text-decoration-color: var(--brand-colour);
}
footer .social-links a {
  color: var(--primary-colour);
  background-color: var(--accent-colour);
  font-size: 30px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
  padding: 8px 20px;
  margin: 0 20px;
  transition: all 0.3s ease-in-out;
}
footer .social-links a:hover {
  color: #fff6f6;
  background-color: var(--brand-colour);
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}
.details {
  font-size: 14px;
}
.details a {
  color: var(--secondary-colour);
  font-size: 14px;
  text-decoration: none;
}
.details a:hover {
  color: var(--brand-colour);
}

@media (max-width: 940px) {
  .logo {
    font-size: 20px;
  }
  nav a {
    font-size: 12px;
  }
  h1 {
    font-size: 44px;
  }
  .feature {
    font-size: 20px;
  }
  .sub-heading {
    font-size: 20px;
  }
  h2 {
    font-size: 38px;
    text-align: center;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
  button {
    font-size: 14px;
  }
  .hero {
    padding: 80px 20px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  .col-lg-6 img {
    max-width: 100%;
    height: auto;
  }
}
