:root {
  --primary-colour: #085f63;
  --secondary-colour: #ffb5b5;
  --brand-colour: #b2e4d5;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h1 {
  font-size: 68px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 4px;
  padding-top: 10px;
  padding-bottom: 14px;
}
.feature {
  font-size: 28px;
  text-decoration: underline;
}
h2 {
  color: var(--primary-colour);
  font-size: 52px;
  font-family: "Courier New", Courier, monospace;
  padding-bottom: 8px;
}
h3 {
  font-size: 32px;
  font-family: "Courier New", Courier, monospace;
}
p {
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 2;
}
.hero {
  color: azure;
  text-align: center;
  line-height: 2;
  margin: 0;
  padding: 90px 20px;
  background: linear-gradient(90deg, #b7f8db, #50a7c2);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.container {
  max-width: 860px;
}
.about-section h1 {
  line-height: 1;
}
.btn-hero {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 4px;
  color: #ffff;
  font-size: 18px;
  margin-top: 30px;
  padding: 15px 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-hero:hover {
  transform: translateY(3px);
}
.btn-branding {
  color: #ffff;
  background-color: var(--primary-colour);
  font-size: 18px;
  padding: 15px 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.project-description {
  padding: 120px 30px;
}
@media (max-width: 960px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
